@{
    ViewBag.Title = "Home Page";
}

<div class="d-flex flex-column align-items-center">
    <img id="InForno" src="~/Content/img/INFORNO.png"/>
    <img id="Del" src="~/Content/img/Delivery.png"/>
    <img id="Home" src="~/Content/img/home.png"/>
</div>